<tei2html.config>
    <text.abbr>O.Z.O.; d.w.z.; b.v.; o.a.; d.i.; A.S.</text.abbr>

    <xref.show>never</xref.show>
    <xref.table>true</xref.table>

    <images.scale>0.5</images.scale>
    <images.maxSize>256</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>
</tei2html.config>
